<div class="container">
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: current_user %>

		<h2>New book</h2>
		<%= render 'books/newform' %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<%= render 'books/show' %>

			<div id="js-table-comment">
				<%= render 'book_comments/comment' %>
			</div>
			
			<%= form_with(model: [@book2, @book_comment], remote: true) do |f| %>
				<div class="row">
					<div class="col-sm-12">
						<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
					</div>
				</div>
				<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
			<% end %>
</div>
	</div>
</div>

